[Unit]
Description=Open Air Interface %SERVICE%
Requires=network-online.target mysql.service
After=network-online.target mysql.service

[Service]
Type=forking
ExecStart=%OPENAIRCN_DIR%/SCRIPTS/run_oai.sh %SERVICE% start
ExecStop=%OPENAIRCN_DIR%/SCRIPTS/run_oai.sh %SERVICE% stop
Restart=always
RestartSec=1

[Install]
# We pull this in by graphical.target instead of waiting for the bus
# activation, to speed things up a little: gdm uses this anyway so it is nice
# if it is already around when gdm wants to use it and doesn't have to wait for
# it.
Alias=oai_%SERVICE%.service
WantedBy=multi-user.target

